body {
    font-family: Chakra_Petch; 
    font-weight: 700; 
    font-style: normal; 
    font-stretch: normal;
    background-image: url('https://wallpapercave.com/wp/wp13928484.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.input-group {
    margin: 10px 0;
}

canvas {
    border: 1px solid #000;
    margin-top: 20px;
}
h3 {
    margin: 7px 0;
    }
h4 {
    margin: 5px 0;
    text-align: left;
   }
